@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

html {
    scroll-behavior: smooth;
}

body {
    @apply leading-loose bg-gradient-to-t from-[#FFB2DD] to-[#8E32B3] h-screen text-white relative;
}

.before {
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
}

.main-bg:before {
    background-image: url("/public/assets/bg.svg");
    z-index: -1;
    background-size: cover;
    @apply before;
}

.footer-bg:before {
    @apply before;
    background-image: url("/public/assets/ground.svg");
    z-index: -1;
    bottom: 0;
    top:auto;
    height: 25vh;
    background-position-y: top;

}

.index-bg {
    @apply before;
    z-index: -1;
    bottom: 0;
    top: auto;

    background-repeat: repeat-x;
    background-position: 0 95%;
    background-image: url("/public/assets/lines.svg");
}

.index-bg:before {
    @apply before;
    z-index: -1;
    bottom: 0;
    top: auto;
    background-image: url("/public/assets/smallBuildings.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.index-bg:after {
    @apply before;
    bottom: 0;
    top: auto;
    z-index: -1;
    right: 0;
    left: auto;
    width: 60vw;
    background-size: cover;
    background-position: bottom left;
    background-image: url("/public/assets/buildings.svg");
    background-repeat: no-repeat;
}

.text-shadow {
    text-shadow: 0 4px #402F5C;
}

.text-gradient {
    background: linear-gradient(to top, #FFB2DD 0%,#FFB2DD 45%, rgba(225, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 100%);
    -webkit-text-stroke: 1px black;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient:after {
    text-shadow: 0 4px #5D0A9D;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-text-fill-color: black;
}

.btn-main {
    background-image: url("/public/assets/button.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-main:hover .text-gradient {
    background: linear-gradient(to top, rgba(225, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%,  #FFB2DD 45%,#FFB2DD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.myBox {
    border-width: 4px;
    position: relative;
}

.myBox:before {
    @apply before  border-sky-900;
    width: 8px;
    border-width: 4px;
    border-right-width: 0;
    left: -8px;
}

.myBox:after {
    @apply before  border-sky-900;
    width: 8px;
    border-width: 4px;
    border-left-width: 0;
    right: -8px;
    left: auto;
}

.arrows {
    border-bottom-color: transparent;
    border-left-color: transparent;
    width: 0;
    height: 0;
    bottom: -20px;
    top: unset;
    left: 35%;
    right: unset;
    position: absolute;
}

.arrow {
    @apply arrows;
    border-right-width: 8px;
    border-left-width: 8px;
    border-bottom-width: 10px;
    border-top-width: 10px;
}

.arrow:before {
    @apply arrows border-sky-900;
    content: "";
    z-index: -1;
    border-right-width: 12px;
    border-left-width: 12px;
    border-bottom-width: 14px;
    border-top-width: 14px;
    left: calc(30% - 13px);
}

.myBox.sky {
    @apply bg-sky-500 border-solid before:bg-sky-500 after:bg-sky-500 border-sky-900
}
.myBox.gray {
    @apply text-2xl bg-blue-200 p-8 border-solid before:bg-blue-200 after:bg-blue-200 border-sky-900 text-sky-900
}

.main-container {
    @apply  container flex-col h-screen flex justify-center relative pb-32 items-center
}